{% extends 'product/create.html.twig' %}

{% block title %}{{ "product.action.edit"|trans({},'ui') }}{% endblock %}

{% block product_title %}
    <h1>{{ "product.action.edit"|trans({},'ui') }}</h1>
{% endblock %}
