<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <h3 class="text-white me-5"><a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">ADMIN PANEL</a></h3>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_product_list') }}">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_category_list') }}">Category</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
